/*#### Header elements   ####*/

header {
  overflow: hidden;
  background: #FFE6C9;
}

#logo {
  width : 160px;
  float: left;
  Margin: 5px;
}

#logosuivant {
  width : 80px;
  float: right;
  margin: 5px;
}

#logoprecedent {
  width : 80px;
  float: left;
  min-width: argin: 5px;
}

nav li {
    display: inline-block;
}

nav li a {
  display: block;
  padding: 1em;
}

/*#### Styles sur la video   ####*/

video {
  border : 2em solid #000;
  border-radius: 1em;
  border-color: #FFB6B8;
  display: block;
  width : 480px;
  margin: 2em auto;
}


/*#### Styles pour les navigations dans les pages   ####*/

.page-navigation-block {
  padding: 0.5em;
  background: #A2B5BF;
  overflow: hidden;
}

.page-navigation-block a {
  display: block;
  max-width: 220px;
  padding: 2em;
  color: #FFE6C9;
  font-size: 2em;
  font-family: 'nickainley';
}

.next {
  float: right;
}

.previous {
  float: left;
}


p {
  text-align: center;
  font-family: 'gill sans';

}
