/*#### Colors in the page   ####*/

#color-1 {
 background-color: #C44C51;
}

#color-2 {
 background-color: #FFB6B8;
}

#color-3 {
 background-color: #A2B5BF;
}

#color-4 {
 background-color: #5F8CA3;
}
#color-5 {
 background-color: #D0E09D;

}

/*#### Color section in the style page   ####*/

#colors {
  display: flex;
  flex-wrap: wrap;
  justify-content : center;
  text-align : center;
 text-transform: uppercase;
 font-family: 'bree';
 font-size: 1em;

}

#colors li {
  height : 160px;
  width : 160px;
  border-radius: 8px;
  color : #fff;
  display: flex;
  align-items: center;
justify-content: center;
margin: 5px;
}

/*-- #### Styles Pour La construction des pages #### */

ol {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ol li {
  border : 1px solid #000;
  width : 160px;
  margin : 6px;
}

li img {
  width : 100%;
}
